body {
    background-image: url("https://images7.alphacoders.com/436/436860.jpg");
    max-width:100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: repeat;
    
  }

header{
      color: rgb(255, 255, 255);
      background-color: rgb(62, 59, 240);
      font-size: 20px;
      text-align: center;
  }

  img{
      text-align: center;
      height: 70vh;
      border-radius: 10%;  
  }

  #centrado{
      text-align: center;
  }


  .artista{
      background-color: blue;
      /*width:1024px;
      height: auto;*/
      width: 100vw;
      height: 100hw;

  }

  footer{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcY3ev2HcQ3EUAan3m2HzXbvq0Hd-kM_o13g&usqp=CAU");
    font-size: 20px;
    color: white;
    text-align: center;
    /*padding:5px;*/
    height: 10vh;
    background-size: contain;
    background-repeat: repeat;
  }