p{
    color: white;
    font-size: large;
}

/*
    h1 es el selector
    SINTAXIS CSS

    selector {
        propiedad::valor
    }
*/
h1{
    color: green;
    font-size: 100px;
}

body{
    background-color: chocolate;
    text-align: start;
}

header{
background-color: aliceblue;
text-align:center;
}

.hola-mundo{
    background-color: green;
    font-size: 50px;
}

#lugar{
    color:white;
    font-weight: bold;
    font-size: 150px;
    background-color: green;

}